*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 1366px;
  overflow-x: hidden;
}

.nav-item a:hover{
  font-weight: bolder;
  border-radius: 10px;
  transition: .5s;
  border-top: solid 5px #26aca3;
}

.btn:hover{   
  transition: 1.3s;
  border-radius: 15px;
  color: #26aca3;
  border: #26aca3 5px solid;
}

#botao:hover{
  -ms-transform: scale(1.2);
  transform: scale(1.2);   
  transition: 1s;
}

#botaovac{
  width: 100%; 
  height: 10vh;
  background-color: #26aca3;
  color: white;
}

#botaovac>p{
  text-align: center;
}

#botaovac:hover{
  background-color: white;
  color: #26aca3;

}

#vac{
  margin-bottom: 1rem; 
  background-color: white;
  color: #26aca3;
  text-align: center;
}

#servicos:hover{
  -ms-transform: scale(1.2);
  transform: scale(1.2);   
  transition: 1s;
  }